body {
  font-family: Arial;
  background: #477148;
}

img {
  height: 110px;
  width: 75px; 
}

.spanMove {
  margin: 10px;
}

#cards {
	text-align: center;
	margin: 15px auto;
}

#info {
	text-align: center;
}



