body {
  font-family: Arial;
  background: #477148;
}

img {
  height: 110px;
  width: 75px; 
}

.spanMove {
  margin: 10px;
}

#game {
	text-align: center;
	margin: 15px auto;
}

#info {
	text-align: center;
}


#turn {
	margin-left: 21%;
	margin-top: 4%;
	float: left;
	position: absolute;
}

#p1 {
	position: absolute;
	margin-left: 66%;
}


#p2 {
	position: absolute;
	margin-left: 66%;
}

@media (max-width: 760px){
	#p2 {
	position: absolute;
	margin-left: 83%;
	}
}

@media (max-width: 760px) {
	#turn {
	margin-left: 4%;
	margin-top: 4%;
	float: left;
	position: absolute;
	}
}

@media (max-width: 760px) {
	#p1 {
	position: absolute;
	margin-left: 83%;
	}
}
