body {
  font-family: Arial;
  background: #477148;
}

img {
  height: 110px;
  width: 71.5px; 
}

.spanMove {
  margin: 10px;
}

#cards {
	text-align: center;
	margin: 15px auto;
}

#info {
	text-align: center;
}

#turn {
	position: sticky;
	right: 450px;
	bottom: 390px;
}